<a href="https://colab.research.google.com/github/oliveirahelo/Repositorio_Base_Heloisa/blob/main/revis%C3%A3opd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
dados = pd.read_csv("/content/empresa.csv")
df = pd.DataFrame(dados)
# df.head(7)mostra o começo
# df.tail(7)mostra o final
# df.info() mastra informações da tabela
# df.describe() mostra as estatísticas: medida, minimo, maximo etc
# ----------------------------------------------
# seleção de dados
# df['nome'] seleciona apenas uma coluna (qualquer uma desde que exista na tabela)
# df[['nome','salario','cidade']] seleciona mais de uma coluna (desde que exista na tabela)
# df.loc[7] busca pelo id
# df.iloc[8] busca pela posição que ele está
# ---------------------------------------------
# df[df['salario'] >4000] filtrar ex:selecone as pessoas que recebem mais que 4000
# df.sort_values('nome') organizar por ordem
# df.groupby('nome').mean(8) agrupamento

            id  salario  tempo_empresa_anos
nome
Ana       22.0   4200.0                 3.0
Bruno     23.0   5000.0                 5.0
Carlos    21.0   3500.0                 1.0
Fernanda  28.0   5000.0                 5.0
João      25.0   4500.0                 4.0
Julia     30.0   4500.0                 4.0
Maria     24.0   3800.0                 2.0
Paula     26.0   3500.0                 1.0
Ricardo   27.0   4200.0                 3.0
Tiago     29.0   3800.0                 2.0